<div class="text-center">
<p style="color:white;">Lancelet Employee Menu</p>
  <a href="employees/item-form" class="btn btn-primary">Add New Item</a>

<a href="employees/food" class="btn btn-primary">Update Food</a>
<a href="employees/drinks" class="btn btn-primary">Update Drinks</a>
<a href="employees/offers" class="btn btn-primary">Update Offers</a>
<a href="employees/reviews" class="btn btn-primary">Update Reviews</a>
<a href="employees/feedback" class="btn btn-primary">Review Feedback</a>
<a href="employees/contact-info" class="btn btn-primary">Update Contact Info</a>
  <a href="employees/about-us" class="btn btn-primary">Update About Us Info</a>

<a href="employees/register" class="btn btn-primary">Register a new Employee</a>
<a href="javascript:void(0)" (click)="logout()" class="btn btn-primary">Logout</a>
</div>

<br>
