.title{
  text-align: center;
}
ion-title
{
  background-color: #FF9F1C;
}
ion-card-title{
  color: #F5FF90 ;
  font-size: xx-large;
}

ion-card-content, ion-card-subtitle {
  color:#F3EFF5
}

ion-card{
  border: 1px solid #F3EFF5

}

ion-card{
  color: #F3EFF5

}

//.card-background-page {
//  .ion-card {
//    position: relative;
//    text-align: center;
//  }
//
//  ion-avatar{
//    float: left;
//    text-align: center;
//    vertical-align: middle;
//    width: 72px;
//    height: 72px;
//    line-height: 72px;
//    background-size: 72px 72px;
//  }
//
//  .card-desc-cvr{
//    float: left;
//  }
//
//  .card-subtitle{
//    color:#9c9c9c;
//    margin: 0px;
//    font-size: 12px;
//  }
//
//  .card-title{
//    color:#838383;
//    font-size:13px;
//    font-weight:400
//  }
//}
