body{
  background-color: #0C0600 !important;
}
.card{
  background-color: #0C0600;
}
h5{
  color: #F5FF90 ;
  font-size: xxx-large;
}

.card-text {
  color:#F3EFF5
}


h4 {
  color:#F3EFF5
}

.text-muted{
  color:#F3EFF5
}
p{
  color: white;
}
