 <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/breakfast-bowl-banner.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>WELCOME TO THE LANCELET</h5>
          <h4>Where Food and Friends Connect</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/images/outdoor-meal-banner.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>WELCOME TO THE LANCELET</h5>
          <h4>Where Food and Friends Connect</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/images/pancakes.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>WELCOME TO THE LANCELET</h5>
          <h4>Where Food and Friends Connect</h4>
        </div>
      </div>
    </div>
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Next</span>-->
<!--    </button>-->
</div>

    <div class="card bg-dark text-white">
      <img src="./assets/images/taco-banner.jpeg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Food Menu</h5>
        <p class="card-text">Peruse our amazing food menu, guaranteed to suit every one of your tastes.</p>
        <p class="card-text"></p>
        <a href="food" class="stretched-link"></a>
      </div>
    </div>

  <div class="card bg-dark text-white">
    <img src="./assets/images/ice-coffee-banner.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Drinks Menu</h5>
      <p class="card-text">Quench your thrist with our incredible selection of both alcoholic and non-alcoholic drinks.</p>
      <p class="card-text"></p>
      <a href="drinks" class="stretched-link"></a>
    </div>
  </div>

   <div class="card bg-dark text-white">
     <img src="./assets/images/naan.jpeg" class="card-img" alt="...">
     <div class="card-img-overlay">
       <h5 class="card-title">Offers Menu</h5>
       <p class="card-text">A wide selection of deals for our guests who are both thrifty and classy.</p>
       <p class="card-text"></p>
       <a href="offers" class="stretched-link"></a>
     </div>
   </div>

<!--<div class="card mb-3 mx-auto" style="max-width: 900px;">-->
<!--  <div class="row g-0">-->
<!--    <div class="col-md-4">-->
<!--      <img src="./assets/images/sqaure-pics/burger.jpeg" class="img-fluid rounded-start" alt="...">-->
<!--    </div>-->
<!--    <div class="col-md-8" style="background-color: #F3EFF5">-->
<!--      <div class="card-body" style="background-color: #F3EFF5">-->
<!--        <h5 class="card-title">Food Menu</h5>-->
<!--        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card mb-3 mx-auto" style="max-width: 900px;">-->
<!--  <div class="row g-0">-->
<!--    <div class="col-md-4">-->
<!--      <img src="./assets/images/sqaure-pics/drinks.jpeg" class="img-fluid rounded-start" alt="...">-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Drinks Menu</h5>-->
<!--        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card mb-3 mx-auto" style="max-width: 900px;">-->
<!--  <div class="row g-0">-->
<!--    <div class="col-md-4">-->
<!--      <img src="./assets/images/sqaure-pics/offers.jpeg" class="img-fluid rounded-start" alt="...">-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Offers Menu</h5>-->
<!--        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
