<app-employee-homepage></app-employee-homepage>
<div class="text-center">
</div>
<div class="container py-4">
    <h5 class="h1 text-center">Our Beer</h5>
    <ng-container *ngFor="let item of items">
      <ng-container *ngIf="item.item_type =='drink'">
        <ng-container *ngIf="item.item_subtype =='beer'">
          <div class="mycard">
            <div class="mycard-img_link">
              <img class="mycard-img" src="http://localhost:3000/images/{{item.photo_file}}" alt="Image Title" />
            </div>
            <div class="mycard-text">
              <h1 class="mycard-title">{{item.name}}</h1>
              <div class="mycard-subtitle small">
              </div>
              <div class="mycard-bar"></div>
              <div class="mycard-preview-txt">{{item.description}}</div>
              <ul class="mycard-tagbox">
                <li class="tag-item">${{item.price}} A Glass</li>
                <li class="tag-item">Pitcher or Bottle Price Available Upon Request</li>
                <a routerLink="/employees/updateitem/{{item.id}}" class="btn btn-primary">Update</a>
                <button type="submit" class="btn btn-primary" (click)="delete_item(item.id)">Delete</button>
              </ul>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <h5 class="h1 text-center" >Our Wine Selection</h5>
    <ng-container *ngFor="let item of items">
      <ng-container *ngIf="item.item_type =='drink'">
        <ng-container *ngIf="item.item_subtype =='wine'">
          <div class="mycard">
            <div class="mycard-img_link" href="#">
              <img class="mycard-img" src="http://localhost:3000/images/{{item.photo_file}}" alt="Image Title" />
            </div>
            <div class="mycard-text">
              <h1 class="mycard-title orange">{{item.name}}</h1>
              <div class="mycard-subtitle small">
              </div>
              <div class="mycard-bar"></div>
              <div class="mycard-preview-txt">{{item.description}}</div>
              <ul class="mycard-tagbox">
                <li class="tag-item">${{item.price}} A Glass</li>
                <li class="tag-item">Pitcher or Bottle Price Available Upon Request</li>
                <a routerLink="/employees/updateitem/{{item.id}}" class="btn btn-primary">Update</a>
                <button type="submit" class="btn btn-primary" (click)="delete_item(item.id)">Delete</button>
              </ul>

            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
