h5{
  color: #F5FF90 ;
  font-size: xxx-large;
}

.card-text {
  color:#F3EFF5
}

h4 {
  color:#F3EFF5
}

.text-muted{
  color:#F3EFF5
}
.icon {
  display: inline-block;
  position: relative;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  color: #FF9F1C;
}

.blank{
  display: inline-block;
  position: relative;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  color: #F3EFF5;
}
