.title{
  text-align: center;
}
ion-title
{
  background-color: #FF9F1C;
}
ion-card-title{
  color: #F5FF90 ;
  font-size: xx-large;
}

ion-card-content, ion-card-subtitle {
  color:#F3EFF5
}

ion-card{
  border: 1px solid #F3EFF5

}
